Package: tb-pulse
Version: 0.7-1
Architecture: amd64
Maintainer: Sajal Kayan <sajal@unknown>
Installed-Size: 42
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
